<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hate">

	<resultMap type="com.topia.myapp.entity.LikeDown" id="like">
		<result column="LIKE_ID" property="likeId"/>
		<result column="POST_ID" property="postId"/>
		<result column="MEM_ID" property="memId"/>
	</resultMap>
	
	<delete id="hateCancel" parameterType="HashMap">
		DELETE like_down
		WHERE
		    post_id=#{postId}
		AND
			mem_id=#{memId}
	</delete>
	
	<insert id="hate" parameterType="HashMap">
		<selectKey keyProperty="likeId" resultType="Integer" order="BEFORE">
			select LIKE_DOWN_SEQ.nextval as likeId from dual
		</selectKey>
		INSERT INTO like_down(
	    	like_id,
	    	post_id,
	    	mem_id
	    	)
		VALUES (
	    	#{likeId},
	    	#{postId},
	    	#{memId}
	    	)
	</insert>
	
	<select id="checkHate" resultType="Integer" parameterType="HashMap">
		SELECT 
		   count(like_id)
		FROM
		    like_down
		WHERE
		    post_id=#{postId}
		AND
			mem_id=#{memId}
	</select>
	 
	<select id="hateCnt" resultType="Integer" parameterType="HashMap">
		SELECT
		    count(like_id)
		FROM
		    like_down
		WHERE
		    post_id = ${postId}
	</select>
	
</mapper>